<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block styles %} {{bootstrap.load_css()}}
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% include "nav.html" %}
    <main class="flex-fill">{% block content %} {% endblock %}</main>
    {% include "footer.html" %} {% block scripts %} {% endblock %}
    {{bootstrap.load_js()}}
  </body>
</html>
